{% load static %}

	<!-- Banner video -->
	<section class="parallax0 parallax100" style="background: url({% static 'images/slider/slider-2.jpg' %}) fixed no-repeat center center/cover;">
		<div class="overlay0 p-t-190 p-b-200">
			<div class="flex-col-c-m p-l-15 p-r-15">
				<span class="m-text9 p-t-45 fs-20-sm">
					The Beauty
				</span>

				<h3 class="l-text1 fs-35-sm">
					Lookbook
				</h3>

				<span class="btn btn-small s-text4  cs-pointer p-t-10 p-b-10" data-toggle="modal" data-target="#modal-video-01">
					<i class="fa fa-play" aria-hidden="true"></i>
					Play Video
				</span>
			</div>
		</div>
	</section>
