{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cart</h1>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
					   <th class="">Quantity</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img width="60" class="img-circle" height="60" src="{% static 'images/shop/cart/cart-1.jpg' %}" alt="" />
                          <a href="">Sunglass</a>
                        </div>
                      </td>
                      <td class=""><p class="fs-18">$200.00</p></td>
					<td class="column-4">
								<div class="flex-w bo5 of-hidden w-size17">
									<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
										<i class="tf-ion-minus" aria-hidden="true"></i>
									</button>

									<input class="size8 m-text18 t-center num-product" type="number" name="num-product1" value="1">

									<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
										<i class="tf-ion-plus" aria-hidden="true"></i>
									</button>
								</div>
							</td>
                      <td class="">
                        <a class="product-remove" href=""> <i class="tf-ion-trash-b"></i> Remove</a>
                      </td>
                    </tr>
              
                  </tbody>
                </table>
                <a href="{% url 'jane:checkout' %}" class="btn btn-main pull-right">Checkout</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="empty-cart page-wrapper">
	<div class="container">
	  <div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="block text-center">
			  <i class="tf-ion-ios-cart-outline"></i>
				<h2 class="text-center">Your cart is currently empty.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
				<a href="{% url 'jane:shop' %}" class="btn btn-main mt-20">Return to shop</a>
		</div>
	  </div>
	</div>
  </section>
{% endblock content %}