{% load static %}

<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 ml-auto col-xs-12 col-sm-4">
				<!-- Site Logo -->
			
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<form action="post"><input type="search" class="form-control" placeholder="Search..."></form>
				
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
			<!-- Cart -->
			<ul class="top-menu text-right list-inline">
	          <li class="dropdown cart-nav dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="tf-ion-bag"></i> Count</a>
	            <div class="dropdown-menu cart-dropdown">
	            	<!-- Cart Item -->
	            	<div class="media">
	            		<a class="pull-left" href="#">
	            			<img  class="media-object" src="{% static 'images/shop/cart/cart-1.jpg' %}" alt="image" />
	            		</a>
	            		<div class="media-body">
	            			<h4 class="media-heading"><a href="">Ladies Bag</a></h4>
	            			<div class="cart-price">
                              <span>1 x</span>
                              <span>1250.00</span>
                            </div>
                            <h5><strong>$1200</strong></h5>
	            		</div>
                        <a href="#" class="remove"><i class="tf-ion-close"></i></a>
	            	</div><!-- / Cart Item -->
	            	<!-- Cart Item -->
	            	<div class="media">
	            		<a class="pull-left" href="#">
	            			<img  class="media-object" src="{% static 'images/shop/cart/cart-2.jpg' %}" alt="image" />
	            		</a>
	            		<div class="media-body">
	            			<h4 class="media-heading"><a href="">Ladies Bag</a></h4>
	            			<div class="cart-price">
                              <span>1 x</span>
                              <span>1250.00</span>
                            </div>
                            <h5><strong>$1200</strong></h5>
	            		</div>
                        <a href="#" class="remove"><i class="tf-ion-close"></i></a>
	            	</div><!-- / Cart Item -->
	            	
	            	<div class="cart-summary">
                        <span>Total</span>
                        <span class="total-price">$1799.00</span>
                    </div>
                    <ul class="text-center cart-buttons">
                    	<li><a href="" class="btn btn-small">View Cart</a></li>
                    	<li><a href="" class="btn btn-small btn-solid-border">Checkout</a></li>
                    </ul>
                </div>

	          </li><!-- / Cart -->

	          <!-- Search -->
	          <li class="dropdown search dropdown-slide">
	  <a href="">        <i class="tf-ion-android-favorite-outline"></i> </a>
	                    </li>
                       
                       {% if request.user.is_authenticated %}
                         <li class="dropdown search dropdown-slide">
	  <a href="">        <i class="tf-ion-log-out"></i> </a>

    

	          </li>
                       {% else %}
                       
                       <li class="dropdown search dropdown-slide">


	  <a href="">        <i class="  tf-profile-male"></i> </a> </li>
      {% endif %}
                      
            
	          </li><!-- / Search -->



	        </ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
	    <div class="container">
	      <div class="navbar-header">
	      	<h2 class="menu-title"><img src="{% static 'images/logo.svg' %}" alt=""></h2>
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>

	      </div><!-- / .navbar-header -->

	      <!-- Navbar Links -->
	      <div id="navbar" class="navbar-collapse collapse text-center">
	        <ul class="nav navbar-nav">

	          <!-- Home -->
	          <li class="dropdown ">
	            <a href="{% url 'jane:home' %}">Home</a>
	          </li><!-- / Home -->


	          <!-- Elements -->
	      
			  <li class="dropdown ">
	            <a href="{% url 'jane:shop' %}">Shop</a>
	          </li><!-- / Home -->
 
			  <li class="dropdown ">
	            <a href="{% url 'jane:about' %}">About Us</a>
	          </li><!-- / Home -->

			  <li class="dropdown ">
	            <a href="{% url 'jane:detail' %}">Single Product</a>
	          </li><!-- / Home -->
			  <li class="dropdown ">
	            <a href="{% url 'jane:cart' %}">Cart</a>
	          </li><!-- / Home -->

	   



	        </ul><!-- / .nav .navbar-nav -->

	      	</div><!--/.navbar-collapse -->
	    </div><!-- / .container -->
	</nav>
</section>